.form-div{
   width:450px; /* or whatever width you want. */
   max-width:450px; /* or whatever width you want. */
   display: inline-block;
}

.todo-form{
    display: flex;
    flex-direction: column;
    justify-content: center;

}